/* reset css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* css chung */
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
body {
  font-family: 'Lato', sans-serif;
}
/* bo dau gach chan cua the a */
a {
  text-decoration: none;
}

/* bien trong CSS */
/* :root tuong duong nhu the html */
:root {
  --bg-color: #282A35;
  --bg-hover-color: #05AA6D;
  --color-text: #FFFFFF;
  --nav-height: 4.5rem;
}

.nav {
  width: 100%;
  /* su dung bien css */
  /* cac trinh phai ho tro */
  height: var(--nav-height);
  background-color: var(--bg-color);
  display: flex;
  /* flex-direction: row; */
}
.nav__list {
  display: flex;
  /* align-items: center;
  justify-content: space-around; */
  /* flex-direction: row; */
}
.nav__link {
  line-height: 4.5rem;
  padding: 0 2rem;
  position: relative;
}
.nav__item {
  color: var(--color-text);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
.nav__link:hover {
  background-color: var(--bg-hover-color);
}
/* menu dropdown */
.nav__dropdown {
  display: none;
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  top: 100%;
}
.nav__link:hover > .nav__dropdown {
  display: block;
}



