*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* reset trinh duyet */

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
body {
  font-family: 'Lato', sans-serif;
}

.nav {
  width: 20rem;
  margin-top: 1rem;
  margin-left: 2rem;
  background-color:  #fffacd;
  border-radius: .3rem;
}

.nav__item {
  padding: 1.5rem 0 1.5rem 1rem;
  border-bottom: thin solid red;
}
.nav__item:last-child {
  border: none;
}
.nav__link {
  font-size: 1.4rem;
}
.nav__item:hover {
  background-color: black;
  cursor: pointer;
}
.nav__item:hover .nav__link {
  color: white;
}
